{% extends "base.html" %}

{% block title %}
Pet Add Form
{% endblock%}

{% block content %}

<h1>Add Pet Form</h1>

{% for msg in get_flashed_messages() %}
  <div>{{ msg }}</div>
{% endfor %}

<form action="/add" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>

  {% endfor %}
  <button>Save</button>
</form>

{% endblock%}